[Unit]
Description=diminuendo
StartLimitInterval=0

[Service]
ExecStart=/home/pi/src/diminuendo/target/release/diminuendo
Restart=always
User=root
Group=root
RestartSec=1s
WorkingDirectory=/home/pi/src/diminuendo/

[Install]
WantedBy=multi-user.target
